:root {
  --primary: rgb(12, 158, 216);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 17px;
}

#header {
  background-color: darkblue;
  margin: 26px;
  text-align: center;
  height: 60px;
}   

#uv {
margin-right: 14px;
}

#currentUVIndex {
background-color: lightgreen;
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: none;
color: black;
}

h1 {
  font-size: 30px;
  color: white;
  padding-top: 10px;
}

#townIcon {
font-size: 30px;
font-weight: bold;
}

main {
  margin: 15px auto;
  width: 98%;
}

#town-data {
  height: 220px;
  border-style: solid;
  border-width: 1.5px;
  padding-left: 8px;
}

.btn {
  font-size: 20px;
  width: 100%;
  display: block;
  border-radius: 5px;
  color: white;
  background-color: var(--primary);
}

.form-input {
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 5px;
}

#savedLocations {
  height: 510px;
  margin-top: 10px;
  border-top: solid;
  border-width: 1.5px;
}

#forcast {
  margin-top: 10px;
}

.saved {
margin-top: 3px;
margin-bottom: 5px;
}

.card-body {
background-color: darkblue;
color: white;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}